<div class="nav">
    <a ui-sref="home"><button type="submit" class="btn btn-warning">Home</button></a>
</div>

<h1>Sign In</h1>
<ul>
  <li ng-repeat="student in students | orderBy: name">
    {{ student.name }}
    <span ng-show="!student.signedIn && !student.signedOut">
      <button type="button" class="btn btn-default" ng-click="signIn(student)">Sign in</button>
    </span>
    <span ng-show="student.signedIn && !student.signedOut">
      <button type="button" class="btn btn-default" ng-click="signOut(student)">Sign out</button>
    </span>
  </li>
</ul>
