<div class="nav">
    <a ui-sref="home"><button type="submit" class="btn btn-warning">Home</button></a>
</div>

<h1>Who's Here Today</h1>

<h3>Currently Signed In</h3>
<p ng-show="!here.length">No one is here yet</p>
<ul>
    <li ng-repeat="student in here = (students | filter: {signedIn: true, signedOut: false})">
        {{ student.name }}
    </li>
</ul>

<h3>Currently Not Here</h3>
<p ng-show="!notHere.length"></p>
<ul>
    <li ng-repeat="student in notHere = (students | filter: {signedIn: false, signedOut: false})">
        {{ student.name }}
    </li>
</ul>

<h3>Left Early</h3>
<p ng-show="!here.length"></p>
<ul>
    <li ng-repeat="student in notHere = (students | filter: {signedIn: true, signedOut: true})">
        {{ student.name }}
    </li>
</ul>
